$nr-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$nr-nature-accent: mat-palette($mat-deep-purple, 300);
$nr-nature-warn: mat-palette($mat-red, 600);

$nr-nature-theme: mat-light-theme(
  $nr-nature-primary,
  $nr-nature-accent,
  $nr-nature-warn
);
